smart wind mill energy prediction system.json
[{"id":"4d7532f9.91328c","type":"tab","label":"weather api","disabled":false,"info":""},{"id":"3546cc12.af9404","type":"http request","z":"4d7532f9.91328c","name":"Get Weather data","method":"use","ret":"obj","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":430,"y":180,"wires":[["4e14cc76.6469c4","63ffa20a.1a11fc"]]},{"id":"ddc7def0.3ef35","type":"debug","z":"4d7532f9.91328c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":400,"wires":[]},{"id":"3a077946.aad9f6","type":"function","z":"4d7532f9.91328c","name":"to show wind speed","func":"msg.payload = msg.wind/1000000+\" Mega Watt hour of Energy can be generated at \"+msg.location_+\" in next 48 hours.\";\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":180,"wires":[["b9e36f1c.e5a4b","9b854720.d79768"]]},{"id":"181ce0dd.a447ef","type":"function","z":"4d7532f9.91328c","name":"to get co ordinates of city","func":"global.set('blade_length_i',msg.payload.blade_length_i);\nglobal.set('power_coef_i',msg.payload.power_coef_i);\nglobal.set('no_turbine',msg.payload.no_turbine);\nmsg.method = \"get\";\nmsg.url= \"https://api.opencagedata.com/geocode/v1/json?q=\"+msg.payload.city+\"&key=b5399730d3ae4cae9cae37373619537f\";\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":100,"wires":[["9c679d2c.f878e"]]},{"id":"9c679d2c.f878e","type":"http request","z":"4d7532f9.91328c","name":"Get Co-ordinates","method":"use","ret":"obj","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":130,"y":160,"wires":[["2978b7.5fd3b74a","ddc7def0.3ef35"]]},{"id":"503adffd.d08fc","type":"function","z":"4d7532f9.91328c","name":"Co-ordinates converter","func":"var conf =[];\nvar i= 0;\n\nwhile (i < msg.payload.total_results)\n    {\n      conf.push(msg.payload.results[i].confidence);\n      i++;\n    }\n    \nfunction myArrayMin(arr) {\n  var len = arr.length;\n  var min = Infinity;\n  while (len--) {\n    if (arr[len] < min) {\n      min = arr[len];\n    }\n  }\n  return min;\n}\n\nmin = myArrayMin(conf);\nindex= conf.indexOf(min);\nmsg.method = \"get\";\nmsg.url = \"https://api.openweathermap.org/data/2.5/onecall?lat=\"+msg.payload.results[index].geometry.lat+\"&lon=\"+msg.payload.results[index].geometry.lng+\"&appid=6a06bcce9a8e80cd0aa195a3f3c26c8d\";\nmsg.payload = msg.payload.results[index].formatted;\nreturn msg;\n","outputs":1,"noerr":0,"x":140,"y":280,"wires":[["3546cc12.af9404","f6113d.5223fec"]]},{"id":"4e14cc76.6469c4","type":"function","z":"4d7532f9.91328c","name":"store wind speed,temp, pressure in array","func":"var blade_length_i = global.get('blade_length_i');\nvar power_coef_i = global.get('power_coef_i');\nvar no_turbine = global.get('no_turbine');\nvar location_ = global.get('location_');\nvar WindSpeed = [];\nvar AirDensity = [];\nvar power = [];\nvar power_sum = 0;\nvar Rd = 287.058;  //universal gas constant for dry air\nvar Rv = 461.495;  //universal gas constant for water vapour\nvar P1,Pv,Pd;\nvar i =0;\n\nwhile (i<48){\n    P1= 6.1078 * Math.pow(10,(7.5*(msg.payload.hourly[i].temp-273.15)/(msg.payload.hourly[i].temp-35.85)));\n    Pv= P1*msg.payload.hourly[i].humidity;\n    Pd = (msg.payload.hourly[i].pressure*100)- Pv;\n    \n    WindSpeed.push(msg.payload.hourly[i].wind_speed);\n    AirDensity.push((Pd/(Rd*msg.payload.hourly[i].temp))+(Pv/(Rv*msg.payload.hourly[i].temp)));\n    i++;\n}\ni = 0;\n\n\n\nif (blade_length_i === null){\n    blade_length_i =50;\n}\n\nvar swept_area_i = Math.PI*blade_length_i*blade_length_i; //Swept Area\n\nif (power_coef_i === null){\n    power_coef_i = 0.59;\n}\nif (no_turbine === null){\n    no_turbine = 1;\n}\n// Calculation of power for every hour data\nwhile (i<48){\n    power.push(no_turbine*0.5*AirDensity[i]*swept_area_i*Math.pow(WindSpeed[i],3)*power_coef_i);\n    i++;\n}\ni = 0;\nvar graph = {\"series\":[\"a\"],\"data\":[],\"labels\":[]};\nwhile (i<48){\n    graph.data[i] = power[i];\n    graph.labels[i] = i+1;\n    i++;\n}\n//calculation of power for next 48 hours\nfor (i = 0; i < power.length; i++) {  \n           power_sum = power_sum + power[i];  \n        }\n\n\n\nmsg.wind = power_sum;\nmsg.location_ = location_;\nmsg.density = AirDensity;\nmsg.swept = swept_area_i;\nmsg.blade = blade_length_i;\nmsg.power = power_coef_i;\nmsg.payload = [{\"series\":[\"a\"],\"data\":[graph.data],\"labels\":graph.labels}];\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":80,"wires":[["ffff5e3f.92823","f8aea700.405018","3a077946.aad9f6"]]},{"id":"76c04dcb.b6c2e4","type":"function","z":"4d7532f9.91328c","name":"get method for weather","func":"global.set('blade_length_i',msg.payload.blade_length_i);\nglobal.set('power_coef_i',msg.payload.power_coef_i);\nglobal.set('no_turbine',msg.payload.no_turbine);\nmsg.method = \"get\";\nmsg.url = \"https://api.openweathermap.org/data/2.5/onecall?lat=\"+msg.payload.lat+\"&lon=\"+msg.payload.lon+\"&appid=6a06bcce9a8e80cd0aa195a3f3c26c8d\";\n//msg.payload = msg.payload.results[index].formatted;\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":100,"wires":[["3546cc12.af9404"]]},{"id":"258791f1.1f556e","type":"ui_button","z":"4d7532f9.91328c","name":"","group":"4a5d1819.14ddc8","order":1,"width":3,"height":1,"passthru":false,"label":"Co-ordinates","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"group\": {\"show\": [\"Home_By_Using_Co-ordinates\"], \"hide\": [\"Home_By_Using_City_Name\"], \"focus\": true}}","payloadType":"json","topic":"","x":140,"y":400,"wires":[["eca091d6.9cc32"]]},{"id":"ba2d25c1.eb0da8","type":"ui_button","z":"4d7532f9.91328c","name":"","group":"4a5d1819.14ddc8","order":2,"width":3,"height":1,"passthru":false,"label":"City/Location Name","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"group\": {\"show\": [\"Home_By_Using_City_Name\"], \"hide\": [\"Home_By_Using_Co-ordinates\"], \"focus\": true}}","payloadType":"json","topic":"","x":160,"y":480,"wires":[["eca091d6.9cc32"]]},{"id":"c52fd6bb.240fc8","type":"ui_form","z":"4d7532f9.91328c","name":"City Name","label":"","group":"7325555.4eb97ac","order":1,"width":9,"height":5,"options":[{"label":"Enter City Name","value":"city","type":"text","required":true,"rows":null},{"label":"Blade Length (m) Default will be 50 m","value":"blade_length_i","type":"number","required":false,"rows":null},{"label":"Power Coefficient Default will be 0.59","value":"power_coef_i","type":"number","required":false,"rows":null},{"label":"Total No. of Wind turbines Default will be 1","value":"no_turbine","type":"number","required":false,"rows":null}],"formValue":{"city":"","blade_length_i":"","power_coef_i":"","no_turbine":""},"payload":"","submit":"submit","cancel":"Reset","topic":"","x":90,"y":40,"wires":[["181ce0dd.a447ef"]]},{"id":"f618f75f.c640d8","type":"ui_form","z":"4d7532f9.91328c","name":"Co-ordinates","label":"","group":"aa9897ae.75e558","order":1,"width":9,"height":6,"options":[{"label":"Enter Latitude","value":"lat","type":"number","required":true,"rows":null},{"label":"Enter Longitude","value":"lon","type":"number","required":true,"rows":null},{"label":"Enter Blade Length (m) Default will be 50 m","value":"blade_length_i","type":"number","required":false,"rows":null},{"label":"Power Coefficient Default will be 0.59","value":"power_coef_i","type":"number","required":false,"rows":null},{"label":"Total No. of Wind Turbines default will be 1","value":"no_turbine","type":"number","required":false,"rows":null}],"formValue":{"lat":"","lon":"","blade_length_i":"","power_coef_i":"","no_turbine":""},"payload":"","submit":"submit","cancel":"cancel","topic":"Enter either Swept Area or Blade Length","x":350,"y":40,"wires":[["76c04dcb.b6c2e4"]]},{"id":"b9e36f1c.e5a4b","type":"ui_text","z":"4d7532f9.91328c","group":"7325555.4eb97ac","order":2,"width":14,"height":2,"name":"final o/p city","label":"","format":"{{msg.payload}}","layout":"row-spread","x":1090,"y":160,"wires":[]},{"id":"9b854720.d79768","type":"ui_text","z":"4d7532f9.91328c","group":"aa9897ae.75e558","order":2,"width":14,"height":2,"name":"final o/p in Cords","label":"","format":"{{msg.payload}}","layout":"row-spread","x":1110,"y":100,"wires":[]},{"id":"ffff5e3f.92823","type":"ui_chart","z":"4d7532f9.91328c","name":"graph in city","group":"7325555.4eb97ac","order":3,"width":14,"height":5,"label":"Power generation for next 48 hours","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"Waiting for Data...","dot":false,"ymin":"","ymax":"","removeOlder":"48","removeOlderPoints":"48","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1070,"y":340,"wires":[[]]},{"id":"f8aea700.405018","type":"ui_chart","z":"4d7532f9.91328c","name":"graph in coordinates","group":"aa9897ae.75e558","order":7,"width":"14","height":"5","label":"Power generation for next 48 hours","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"Waiting for Data...","dot":false,"ymin":"","ymax":"","removeOlder":"48","removeOlderPoints":"48","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1120,"y":260,"wires":[[]]},{"id":"eca091d6.9cc32","type":"ui_ui_control","z":"4d7532f9.91328c","name":"","events":"all","x":360,"y":440,"wires":[[]]},{"id":"63ffa20a.1a11fc","type":"function","z":"4d7532f9.91328c","name":"location in coords","func":"global.set(\"location_\",msg.payload.timezone);\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":220,"wires":[[]]},{"id":"f6113d.5223fec","type":"function","z":"4d7532f9.91328c","name":"location city","func":"global.set(\"location_\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":360,"wires":[[]]},{"id":"25e1dde5.c58812","type":"ui_toast","z":"4d7532f9.91328c","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":610,"y":320,"wires":[]},{"id":"345b23a8.1474fc","type":"function","z":"4d7532f9.91328c","name":"invalid name","func":"msg.payload = \"Location name is invalid or Location not Found.\";\n\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":320,"wires":[["25e1dde5.c58812"]]},{"id":"2978b7.5fd3b74a","type":"switch","z":"4d7532f9.91328c","name":"Error handling","property":"payload.results","propertyType":"msg","rules":[{"t":"empty"},{"t":"nempty"}],"checkall":"true","repair":false,"outputs":2,"x":140,"y":220,"wires":[["345b23a8.1474fc"],["503adffd.d08fc"]]},{"id":"9de3d1d7.7d3f9","type":"ui_template","z":"4d7532f9.91328c","group":"8102edd5.cc801","name":"about","order":8,"width":"0","height":"0","format":"<p style=\"text-align: justify;\">This Web Application can be used to predict the amount of wind Energy that can be converted into Electric Energy. Wind power is the source of Renewable Energy or Green Energy. Wind mills are used to convert the Kinetic Energy of wind into mechanical energy, and after that it will be converted into electric energy using generators.</p>\n<p style=\"text-align: justify;\">To calculate wind energy that can be converted into electric energy at particular place, one must have-</p>\n<p style=\"text-align: justify;\">a) Value of Wind Velocity</p>\n<p style=\"text-align: justify;\">b) Wind turbine blade length or swept area</p>\n<p style=\"text-align: justify;\">c) Density of air at that place</p>\n<p style=\"text-align: justify;\">d) Total number of wind turbines in use.</p>\n<p style=\"text-align: justify;\">&nbsp; &nbsp; With the formula,</p>\n<p style=\"text-align: justify;\">Power = 0.5* density of air* swept area * velocity<sup>3</sup></p>\n<p style=\"text-align: justify;\">We can calculate the power generated in Watt.</p>\n<p style=\"text-align: justify;\">In this web application you can find the power that can be generated using wind mills in particular area, by providing either the location name or latitude and longitude value of that region.</p>\n<p style=\"text-align: justify;\">You can provide some other optional parameters like-</p>\n<ul>\n    <li style=\"text-align: justify;\">Blade Length of wind turbine in meters. Default value of blade length in this application is 50 meter, because most of the turbine have blade length of 50 m.</li>\n    <li style=\"text-align: justify;\">Power Coefficient factor, Cp. It is the Ratio of Actual power generated to the theoritical power generated. According to <strong>Betz Limit</strong>, it&#39;s maximum value is 0.59, i,e no wind mill is more than 59 % efficient, it is the upper limit of efficiency for practical wind mills.</li>\n    <li style=\"text-align: justify;\">Total number of wind mills in use.</li>\n</ul>\n<p>&nbsp; &nbsp;After clicking submit, app will display the energy that can be generated using wind mills in that particular region with given set of conditions, for next 48 hours in MWh or Mega Watt Hours. It will also display a graph, which can be used to analyse at what time, wind mill will generate maximum energy, or it is efficient to use them.</p>\n<p><br></p>\n<p>This web application will help to estimate the energy that can be generated using wind mills, so that it will be easy to shift on wind power for our electricity needs, from conventional source of electricity generation using pressurised stem to move turbines, which is obtained on the cost of burning coals, which is major source of air pollution.</p>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":530,"y":500,"wires":[[]]},{"id":"4a5d1819.14ddc8","type":"ui_group","z":0,"name":"Predict Using","tab":"1db3d13.fef0d2f","order":1,"disp":true,"width":6,"collapse":true},{"id":"7325555.4eb97ac","type":"ui_group","z":0,"name":"By Using City Name","tab":"1db3d13.fef0d2f","order":2,"disp":true,"width":23,"collapse":false},{"id":"aa9897ae.75e558","type":"ui_group","z":0,"name":"By Using Co-ordinates","tab":"1db3d13.fef0d2f","order":3,"disp":true,"width":23,"collapse":false},{"id":"8102edd5.cc801","type":"ui_group","z":"","name":"About This Web-Application","tab":"8531cc9.c52893","order":1,"disp":true,"width":"22","collapse":false},{"id":"1db3d13.fef0d2f","type":"ui_tab","z":0,"name":"Home","icon":"mi-home","disabled":false,"hidden":false},{"id":"8531cc9.c52893","type":"ui_tab","z":0,"name":"About","icon":"mi-help","disabled":false,"hidden":false}]